*
{
    margin: 0;
    padding: 0;
}

body
{
background-size: cover;
}

/* header part starts */
header
{
    background-color: black;
   height: 5em; 
    
}

img
{
   margin-left: 10%;
   margin-top: 12px;
   margin-bottom: 20px;
   
}

.head-tag
{
    float: right;
    margin-top: 28px;
    margin-right: 5%;
}

.head-tag a
{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: small;
text-decoration: none;
color: white;
border: 1px solid white;
padding: 8px;
margin-right: 8px;
}

.head-tag a:hover{
    background-color: skyblue;
    color: black;
    transition: 0.5s ease-in-out;
}
/* header part ends */

/* body part para content starts */

.bcontent
{
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 100px;
padding-right: 40%;
}
.bcontent h1{
    color: skyblue;
}
.bcontent li{
    list-style: square;
    margin-bottom: 10px;
}
/* body part para content ends */

/* login form starts */
.login
{
    float: right;
    border: 2px solid black;
    background-color: grey;
    height: 17em;
    margin-top: 5%;
    margin-right: 4%;
    padding: 15px;
}

.login h2{
    text-align: center;
}

.login input
{
    height: 1.5em;
}

.login #ok
{
    width: 100%;
    background-color: skyblue;
    height: 1.8em;
    border: 1px solid dodgerblue;
}

.registration
{
    text-align: center;
}
/* login form ends */

/* main div content starts */

.container
{
    /* border: 1px solid red; */ 
    margin-top: 2%;
    margin-left: 6%;
}

.p-box
{
    border: 2px solid white;
    width: 22%;
    float: left;
    margin: 4px;
    background-color: grey;
    height: 22em;
    text-align: justify;
    padding: 7px;
}

.p-box h3{
    text-align: center;
    text-transform: uppercase;
}

.p-box p{
    line-height: 1.25em;
}

.p-box a
{
    text-decoration: none;
    color: red;
}
/* main div content ends */

/* footer starts */

footer
{
    height: 1.4em;
    color: white;
    text-align: center;
    background-color: black;
    margin-top: 24%;
}

